.admin_table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #333;
}

.admin_table tr {
    border-bottom: 1px solid #333;
}

.admin_table tbody tr:hover {
    background-color: #999;
}

.admin_table tr td {
    padding: 10px;
}

.modify_popup {
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modify_popup .modify_box {
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
}

.modify_popup .modify_box div h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.modify_popup .modify_box div {
    margin-bottom: 10px;
}

.modify_popup .modify_box div input:focus {outline:none;}

.modify_popup .modify_box div input {
    border: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    padding: 10px;
}