.book_section {
    font-size: 0;
}

.book_section .book_box {
    display: inline-block;
    width: 200px;
    margin-right: 47px;
    margin-bottom: 50px;
}

.book_section .book_box:nth-child(5n) {
    margin: 0;
}

.book_section .book_box .book_img {
    width: 200px;
    height: 200px;
    background-color: #333;
    margin-bottom: 10px;
}

.book_section .book_box h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.book_section .book_box p {
    font-size: 16px;
    margin-bottom: 10px;
}