.book_section {
    font-size: 0;
}

.book_section .book_box {
    display: inline-block;
    width: 200px;
    margin-right: 47px;
    margin-bottom: 50px;
}

.book_section .book_box:nth-child(5n) {
    margin: 0;
}

.book_section .book_box .book_img {
    width: 200px;
    height: 200px;
    background-color: #333;
    margin-bottom: 10px;
}

.book_section .book_box h3 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.book_section .book_box p {
    font-size: 16px;
    margin-bottom: 10px;
    height: 100px;
    word-wrap: break-word;
}
.book_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.book_popup_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 30px;
    width: 800px;
    height: 700px;
}

.book_popup_box div {
    margin-bottom: 20px;
}

.book_popup_box div:last-child {
    margin: 0;
}

.book_popup_box p {
    display: inline-block;
    font-size: 24px;
    width: 120px;
    vertical-align: top;
}

.book_popup_box div.book_summary_area p {
    display: block;
    margin-bottom: 20px;
}